.cabeçalho-titulo{
    display: flex;
    justify-content: center;
    font-family: 'inter', sans-serif;
    font-weight: 700;
    font-size: 64px;
}

.cabeçalho-imagem{
    display: block;
    margin: auto;
    height: 220px;
}

.produtos-de-limpeza{
    font-family: 'inter', sans-serif;
    color: #273DFF;
    margin: 20x;
    font-size: 32px;
}

.produtos-de-limpeza-titulo{
    font-family: 'inter', sans-serif;
    font-size: 48px;
}

.produtos-de-higiene-pessoal {
    font-family: 'inter', sans-serif;
    color: #E73434;
    margin: 20x;
    font-size: 32px;
}
